header {
  text-align: center;
  width: 100%;
  font-size: 32pt;
  font-family: sans-serif;
  font-weight: 700;
}

ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-content: space-between;
}

li {
  text-align: center;
  width: 20%;
  padding: 0;
  margin: 2%;
  /*display: flex;*/
  /*justify-content: center;*/
}

hr {
  margin-left: 25%;
  width: 50%;
  color: green;
  border: 2px solid teal;
}

.name{
  width: 100%;
  font-size: 100%;
  line-height: normal;
  margin: 0px;
  padding: 0px;
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-top: 2%;
}

.email{
  width: 100%;
  color: lightgray;
  font-size: 90%;
  line-height: normal;
  margin: 0px;
  padding: 0px;
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 100;
}

.address{
  color: gray;
  font-family: sans-serif;
  width: 100%;
  /*font-size: 100%;
  line-height: normal;*/
  margin: 5% 0% 5% 0%;
  padding: 0px;
  text-align: center;
  border: 0px;
  text-transform: capitalize;
}

.address-item{
  text-transform: capitalize;
  width: 100%;
  font-size: 80%;
  line-height: normal;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
  text-align: center;
  border: 0px;
}

.ssn-wrapper {
  filter: blur(5px);
  transition:  .5s;
}

.ssn-wrapper:hover {
  filter: none;
  transition:
}

img {
  width: 110%;
  margin-left: -5%;
}

#wrapper {
  padding: 0%;
  margin: 0%;
}
